@tailwind base;
@tailwind components;
@tailwind utilities;
.input-text {
  @apply border rounded-md ring-0 p-3 focus:outline-none focus:border focus:border-gray-500 h-12 w-full bg-white;
}
.input-textarea {
  @apply border rounded-md ring-0 p-3 focus:outline-none focus:border focus:border-gray-500 w-full bg-white;
}
.btn-primary {
  @apply bg-none font-semibold ring-2 py-3 ring-black ring-offset-2 m-1 hover:bg-gray-100 hover:text-gray-400 focus-visible:bg-gray-100 outline-none rounded-sm;
}
.nav-btn {
  @apply flex space-x-4 items-center px-4 py-2 rounded-md hover:cursor-pointer hover:text-blue-500 hover:bg-gray-100 transition-all duration-150 ease-out;
}
.page-title {
  @apply text-4xl font-bold;
}
.form-group {
  @apply flex flex-col gap-y-2;
}
